<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common_header('首页','/static/dashboard.css')">
</head>
<body>
	<!-- 	<div th:replace="common/lefter::common_lefter"></div> -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li class="active"><a href="#">网站导航</a></li>
					<li ><a href="#">我的申请</a></li>
					<li><a href="#">我的任务</a></li>
					<li><a href="#">历史记录</a></li>
				</ul>
			</div>

			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ">

				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>编号</th>
								<th>姓名</th>
								<th>创建时间</th>
								<th>状态</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody th:each="tbds:${dataList}">
							<tr>
								<td th:text="${tbds.id}">1,001</td>
								<td th:text="${tbds.userName}">Lorem</td>
								<td th:text="${tbds.createDate}">ipsum</td>
								<td th:text="${tbds.status}">dolor</td>
								<td>sit</td>
							</tr>
						
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	/*<![CDATA[*/
	/*]]>*/
</script>
<footer th:replace="common/footer :: common_footer"></footer>
</html>