<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header::common_header('登录','/static/login.css')">
</head>
<body>
<div class="container">

      <form class="form-signin" action="/thymeleaf/doLogin" method="post">
        <h2 class="form-signin-heading">欢迎登录</h2>
        <label for="username" class="sr-only">用户名</label>
        <input type="text" id="username" class="form-control" name="userName" placeholder="用户名" required="required" autofocus="autofocus"/>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" class="form-control" name="passWord" placeholder="密码" required="required"/>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="1"/> 记住我
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      </form>

    </div> <!-- /container -->


</body>
<footer th:replace="common/footer::common_footer"></footer>
</html>